<div column>
    <p title>Happy Cake!</p>
    <p content>Welcome to happy cake, a website we use to post our birthdays.</p>
    <div birthday>
        <p subtitle>Happy cake, Amit!</p>
        <div info row>
            <p content>11/11/2019</p>
            <a>@Shuky</a>
        </div>
        <p content>Happy cake, <a>@Amit</a>.</p>
        <p>We wish you many cakes, flags and cats.</p>
    </div>
    <div birthday>
        <p subtitle>Happy cake, Yarin!</p>
        <div info row>
            <p content>15/03/2019</p>
            <a>@Nir</a>
        </div>
        <p content>Happy cake, <a>@Yarin</a>.</p>
        <p>We wish you many cats, private keys and hash functions.</p>
    </div>
</div>