<div column>
    <p title>Happy Cake!</p>
    <p content>Welcome to happy cake, a website we use to post our birthdays.</p>
    <div birthday>
        <p subtitle>Happy cake, Nir!</p>
        <div info row>
            <p content>06/12/2019</p>
            <a>@Nadav</a>
        </div>
        <p content>Happy cake, <a>@Nir</a>.</p>
        <p>We wish you the best of everything, including dogs and flags.</p>
    </div>
    <div birthday>
        <p subtitle>Happy cake, Amit!</p>
        <div info row>
            <p content>11/11/2019</p>
            <a>@Nadav</a>
        </div>
        <p content>Happy cake, <a>@Amit</a>.</p>
        <p>We wish you many cakes, flags and cats.</p>
    </div>
    <div birthday>
        <p subtitle>Happy cake, Yarin!</p>
        <div info row>
            <p content>15/03/2019</p>
            <a>@Nir</a>
        </div>
        <p content>Happy cake, <a>@Yarin</a>.</p>
        <p>We wish you many cats, private keys and hash functions.</p>
    </div>
    <div birthday>
        <p subtitle>Happy cake, Hadar!</p>
        <div info row>
            <p content>12/12/2018</p>
            <a>@Yarin</a>
        </div>
        <p content>Happy cake, <a>@Hadar</a>.</p>
        <p>We wish you many scratch cats, brainf*cking activities and so on.</p>
    </div>
</div>